<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>literat.im(beta)</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/fittext.js"></script>
  <script src="/javascripts/jquery.js"></script>
  <script src='/javascripts/client_events.js'></script>
  <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myMediumModalLabel" aria-hidden="true" id="welcome" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
  		<h2>Welcome to literat.im!</h2>
  		<h4>Let's get started</h4>
  		<p class="welcome_info">
  			<span class="glyphicon glyphicon-user"></span>
  			<input type="text" name="user" id="user" placeholder="name" class="form-control">
  			<span class="glyphicon glyphicon-ok"></span>
  		</p>
  		<button class="btn btn-info" id="start" data-dismiss="modal" data-backdrop="false" onclick="welcome()">Start</button>
    </div> <!-- end of modal-content-->
  </div> <!-- end of modal-dialog modal-lg-->
</div> <!-- end of modal -->

<header>
  <h3 class="fittext">literat.im</h3>
</header> <!-- end of header -->

<div class="container-fluid" id="container">
	<div class="row" id="container_row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 users" id="'+data.name+'">
      <h4 class="userheads" id="first_user"></h4>
      <input type="text" placeholder="..." class="form-control" id="message" maxlength="120" onkeypress="send_message()"/>
    </div>
	</div> <!-- end of container_row div -->
</div> <!-- end of container div -->
</body>
</html>