<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%=:title%></title>
  <link rel='stylesheet' href='/stylesheets/blueprint.css' />
  <script src="/socket.io/socket.io.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="/javascripts/jquery.js"></script>
  <script src='/javascripts/adapter.js'></script>
  <script src="/javascripts/jquery.event.drag-2.0.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src='/javascripts/client_events.js'></script>
  <script>
    App = {}
    App.socket = io

    // Draw Function
    App.draw = function(data) {
        if (data.type == "dragstart") {
            App.ctx.beginPath()
            App.ctx.moveTo(data.x,data.y)
        } else if (data.type == "drag") {
            App.ctx.lineTo(data.x,data.y)
            App.ctx.stroke()
        } else {
            App.ctx.stroke()
            App.ctx.closePath()
        }
    }

    // Draw from other sockets
    App.socket.on('draw', App.draw) 

    // Bind click and drag events to drawing and sockets.
    $(function() {
        App.ctx = $('canvas')[0].getContext("2d")
        $('canvas').on('drag dragstart dragend', function(e) {
            offset = $(this).offset()
            data = {
                x: (e.clientX - offset.left), 
                y: (e.clientY - offset.top),
                type: e.handleObj.type
            }
            App.draw(data) // Draw yourself.
            App.socket.emit('drawClick', data) // Broadcast draw.
        })
    })         
  </script>
</head>
<body>
<div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myMediumModalLabel" aria-hidden="true" id="welcome" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
		<h2>Welcome to literat.im!</h2>
		<h4>Let's get started</h4>
		<p class="welcome_info">
			<span class="glyphicon glyphicon-search"></span>
			<input type="text" name="room" id="room" placeholder="Search or create a room" autofocus required>
		</p>
		<p class="welcome_info">
			<span class="glyphicon glyphicon-user"></span>
			<input type="text" name="user" id="user" placeholder="Enter Name"/ required>
			<span class="glyphicon glyphicon-ok"></span>
		</p>
		<button class="btn btn-info" id="start" data-dismiss="modal" data-backdrop="false" onclick="welcome()">Start</button>
    </div> <!-- end of modal-content-->
  </div> <!-- end of modal-dialog modal-lg-->
</div> <!-- end of modal -->
<header>
	<div id="header_top"></div>
	<div class="nav_slide">
		<span class="glyphicon glyphicon-chevron-up" id="nav_up"></span>
	</div>
</header>
<div class='nav_slide'><span class="glyphicon glyphicon-chevron-down" id="nav_down"></span></div>
<div class="container-fluid" id="container">
	<div class="row" id="container_row">
    <div class="row" id="top">
  		<div class="col-xs-12 col-sm-6 col-md-6" id="main">
      </div> <!-- end of main div -->
      <div class="col-xs-12 col-sm-6 col-md-6" id="users">
  		</div> <!-- end of users div -->
    </div>
    <div class="row" id="bottom">
      <div class="col-xs-12 col-sm-12 col-md-12" id="chat">
      </div> <!-- end of chat -->
    </div>
	</div> <!-- end of container_row div -->
</div> <!-- end of container div -->
<script src="/javascripts/video.js"></script>

</body>
</html>