div {
	border: 1px solid black;
}

h2, h4 {
	text-align: center; 
}

#room, #user {
	border: none;
	width: 91%;
	font-size: 18px;
}

#room:focus, #user:focus {
	outline: none;
}

.modal-content {
	padding: 15px;
}

#container {
	height: 1000px;
}

.glyphicon {
	font-size: 18px;
}

.glyphicon-ok {
	color: green;
}

#start {
	width: 30%;
	font-weight: bold;
}

#main_row {
	height: 100%;
}

#main  {
	height: 100%;
	display: inline-block;
}

#names {
	height: 100%;
}

.arrow_down {
	width: 0px;
	height: 10px;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 25px solid red;
	margin: auto;
}

header {
	height: 70px;
}

.nav_slide  {
	text-align: center;
}

#side_top,#side_bottom {
	display: block;
	width: 100% !important;
	min-height: 100px;
}

video, canvas {
	width: 100% !important;
	height: auto !important;
	border: 1px solid black;
}

.user {
	text-align: center;
}

#chat_box {
	width: 97%;
}

#top {
	height: 70%;
}

#bottom {
	height: 30%;
}

html {
	overflow-x: hidden;
}

#open_chat {
	overflow: auto !important;
	height: 300px;
}