/*ALL TAGS*/

html {
	overflow-x: hidden;
}

body {
	background-color: #2C3E50;
	font-family: 'Gochi Hand', cursive;
}

header {
	background-color: #E74C3C;
	border-radius: 5px;
	box-shadow: 5px 10px 5px #111111;
	margin: 10px;
	text-align: center;
	color: #ECF0F1;
	border: 10px solid #ECF0F1;
}

/*ALL CLASSES*/

.modal-content {
	padding: 15px;
	background-color: #01B29E;
}

.glyphicon {
	font-size: 24px;
	top: 5px;
}

.glyphicon-ok {
	color: green;
}

.users {
	border-radius: 5px;
	background-color: rgba(236,240,241,.7);
	box-shadow: 3px 6px 3px #111111;
	float: left;
	display:none;
	height: 105px;
	vertical-align: top;
	border: 5px solid #ECF0F1;
}

.userheads {
	color: black;
	font-weight: bolder;
	border-bottom: 1px solid gray;
}

.usertexts {
	max-height: 102px;
	display: inline-block;
	height: 35px;
	margin-top: 0px;
	vertical-align: top;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.form-control {
	margin-bottom: 10px;
	display: inline-block;
}

.hideuser {
	float: right;
}

/*ALL IDENTIFIERS*/

/*#container {
	height: 1000px;
}*/

#main_row {
	height: 100%;
}

#start {
	width: 30%;
	font-weight: bold;
}

#user, #roomname {
	width: 90%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#roomheader {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: left;
	margin-top: 0px;
	margin-left: 5px;
}

h2 {
	display: inline-block;
}